


#chart{
  width: 100%;
  height: 450px;
  margin: 2 auto;
}

#chart-wrapper{
  position:relative;
  top:50%;
  left:78%;
  bottom: -100px;
  transform:translate(-50%,-50%);

}
#chartLine{
  border:solid;
  border-width:0 0 2px 2px;
  border-color:#1dd2af;
  /*  background: -webkit-linear-gradient(top,#1dd2af,#fff);*/
}
#weeks{
  margin-left:60px;
}
#weeks>span{
  width: 60px;
    display: inline-block;
     color:#1dd2af;
  font-size:16px;
}
#weeks>span:before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #1dd2af;
  border-radius: 50%;
  bottom: 20px;
}
#values{
  position:absolute;
  top:0;
  left:-47px;
  margin-top: -2px;
}
#values>span{
  display:block;
  color:#1dd2af;
  font-size:16px;
  height:30px;
}
#values>span:after {
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  background-color: #1dd2af;
  border-radius: 50%;
  margin-left: 5px;
}

